.Diagnostic__title {
   font-size: 2.5rem;
   font-weight: bold;
   margin-bottom: 3rem;
   text-align: center;
   color: var(--primary-color);
}
.Diagnostic__return {
   margin-bottom: 1rem;
}
.Diagnostic__return svg {
   font-size: 3.4rem;
   fill: var(--dark);
}

.Diagnostic .MuiButton-contained {
   background-color: var(--info);
   color: var(--light);
   font-size: 1.7rem;
   margin: 0 auto;
   display: flex;
}

.Diagnostic .MuiButton-contained:hover {
   opacity: 0.8;
   background-color: var(--info);
}

@media screen and (max-width: 475px) {
   .Diagnostic {
      margin-top: 3.4rem;
   }
   .Diagnostic__title {
      font-size: 1.8rem;
      margin-bottom: 1.8rem;
   }

   .Diagnostic__return {
      margin-bottom: 0.3rem;
   }
}
